<form class="" action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label for="landmark_name">Landmark Name</label>
  <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>">
  <label for="landmark_year_completed">Landmark Year Completed</label>
  <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">
  <input type="submit" name="submit" value="Edit Landmark">
</form>
